.container {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
     width: 480px !important;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

#ui {
    width: 480px;
    position: relative;
}

body {
  font-family: Sans-Serif;
}

img.vuled {
    width:22px;
    height:22px;
    border-width:0px;
}

td {
  width: 150px;
  padding-left: 4px;
}

#vu {
    text-align: center;
    align: center;
    vertical-align: middle;
    width: 480px;
}
.legend {
    width:22px;
    height:22px;
    font-size:15px;
    text-align: center;
    align: center;
}
.peak {
    font-size:20px;
    text-align: center;
    vertical-align: middle;
}

#elapsed {
  padding-left: 10px;
}

#timeElapsed {
    position: relative;
    font-size: 38px;
    margin-top: 6px;
    text-alight: center;
}

#format {
width:30%;
}

#signal {
    position: relative;
    top: -5px;
    width: 33%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#mode {
    position: relative;
    top: 12px;
    margin-left: 10px;
    width: 41px;
    height: 41px;
    float: left
}

#status {
    position: relative;
    padding-bottom:5px;
}

#subStatus {
    float: right;
    padding-left: 8px;
    margin-right: 10px;
    padding-top: 10px;
    width: 250px;
}

.clear {
    clear: both;
}

.right {
    float:right;
    display: inline-table;
}

.left {
    display: inline-table;
}

.center {
    display: inline-table;
}

#buffer {
    position:relative;
    width:20%;
}
#load {
    position:relative;
    text-align: center;
    width:50%;
}

#timeLeft {
  text-align: right;
}

.topSubStatus {
    font-size:20px;
    margin-bottom:-5px;
    width: 100%;
}

.bottomSubStatus {
    width:100%
    font-size:14px;
}

#resetPeaksForm {
  padding-left: 5px;
}

#reset {
    width:35px;
    font-size:12px;
    align: center;
}

.button {
	display: inline-block;
	line-height: 1;
	padding: 5px 5px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background-color: #81A1F8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
    text-align: center;
}
