#ui {
    width: 480px;
    position: relative;
}

body {
  font-family: Sans-Serif;
}

img.vuled {
    width:22px;
    height:22px;
    border-width:0px;
}

#vu {
    text-align: center; 
    align: center; 
    vertical-align: middle;
    width: 480px;
}
.legend {
    width:22px;
    height:22px;
    font-size:15px;
    text-align: center;
}
.peak {
    font-size:20px;
}

#timeElapsed {
    position: relative;
    float: left;
    font-size: 38px;
    margin-top: 10px;
    margin-left: 10px;
}

#format {
width:30%;
}

#signal {
    position: relative;
    top: -5px;
    width: 33%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#mode {
    position: relative;
    top: 12px;
    margin-left: 10px;
    width: 41px;
    height: 41px;
    float: left
}

#status {
    position: relative;
    padding-bottom:5px;
}

#subStatus {
    float: right;
    padding-left: 8px;
    margin-right: 10px;
    width: 250px;
}

.clear {
    clear: both;
}

.right {
    float:right;
    display: inline-table;
}

.left {
    display: inline-table;
}

.center {
    display: inline-table;
}

#buffer {
    position:relative;
    width:20%;
}
#load {
    position:relative;
    text-align: center;
    width:50%;
}

.topSubStatus {
    font-size:20px;
    margin-bottom:-5px;
    width: 100%;
}

.bottomSubStatus {
    width:100%
    font-size:14px;
}

#reset {
    width:40px;
    font-size:12px;
    text-align:center;
}

.button {
	display: inline-block;
	line-height: 1;
	padding: 7px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	background-color: #39c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
    text-align: center;
}
input.button, button.button {
	border: 0px none;
}
