<!DOCTYPE html>
<html ng-app="James">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="/static/jquery.min.js"></script>
  <script src="/static/sockjs.min.js"></script>
  <script src="/static/vu.js"></script>
  <script src="/static/angular.js"></script>
  <script src="/static/ng-socket.js"></script>
  <script src="/static/angular-strap.min.js"></script>
  <script src="/static/angular-strap.tpl.min.js"></script>
  <script src="/static/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <title>Recorder Status</title>
</head>
<body bgcolor="#BDBDBD" class="container">
  <div ng-controller="RecordCtrl">
    <div class="row">
      <div id="status">
        <div id="elapsed" class="col-md-5">
          <div class="row">
            <div id="modeform" class="col-xs-3">
            <img id="mode" ng-src="{{mode}}" ng-click="record()">
          </div>
          <div id="timeElapsed" ng-bind="timeElapsed" class="col-xs-9"></div>
        </div>
      </div>
      <div id="subStatus" class="col-md-7">
        <div class="topSubStatus row">
          <span id="format" class="col-xs-4" ng-bind="format"></span>
          <span id="bTimer" class="col-xs-4" onClick="$.ajax({
            type: 'POST',
            url: '/resetBTimer',
            success: function() { } });
            return false; });">
            0:00
          </span>
          <span id="timeLeft" class="col-xs-4" ng-bind="timeLeft"></span>
        </div>
        <div class="bottomSubStatus row">
          <span id="buffer" class="col-xs-4" ng-bind="buffer"></span>
          <span id="temp" class="col-xs-4" ng=bind="temp"></span>
          <span id="ping" class="col-xs-4" ng-bind="ping"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="vu" class="col-xs-12">
        <center>
          <table>
            <tr>
              <td> <img class="vuled" id="l48" ng-src="{{l48}}"></td>
              <td> <img class="vuled" id="l42" ng-src="{{l42}}"></td>
              <td> <img class="vuled" id="l36" ng-src="{{l36}}"></td>
              <td> <img class="vuled" id="l30" ng-src="{{l30}}"></td>
              <td> <img class="vuled" id="l24" ng-src="{{l24}}"></td>
              <td> <img class="vuled" id="l18" ng-src="{{l18}}"></td>
              <td> <img class="vuled" id="l15" ng-src="{{l15}}"></td>
              <td> <img class="vuled" id="l12" ng-src="{{l12}}"></td>
              <td> <img class="vuled" id="l9" ng-src="{{l9}}"></td>
              <td> <img class="vuled" id="l6" ng-src="{{l6}}"></td>
              <td> <img class="vuled" id="l5" ng-src="{{l5}}"></td>
              <td> <img class="vuled" id="l4" ng-src="{{l4}}"></td>
              <td> <img class="vuled" id="l3" ng-src="{{l3}}"></td>
              <td> <img class="vuled" id="l2" ng-src="{{l2}}"></td>
              <td> <img class="vuled" id="l1" ng-src="{{l1}}"></td>
              <td> <img class="vuled" id="l0" ng-src="{{l0}}"></td>
              <td>   <div class="peak" id="maxL" ng-bind="maxL"></div></td>
            </tr>
            <tr>
              <td class="legend">48</td>
              <td class="legend">42</td>
              <td class="legend">36</td>
              <td class="legend">30</td>
              <td class="legend">24</td>
              <td class="legend">18</td>
              <td class="legend">15</td>
              <td class="legend">12</td>
              <td class="legend">9</td>
              <td class="legend">6</td>
              <td class="legend">5</td>
              <td class="legend">4</td>
              <td class="legend">3</td>
              <td class="legend">2</td>
              <td class="legend">1</td>
              <td class="legend">FS</td>
              <td>
                <button id="reset" class="button" ng-click="resetPeaks();">
                  RS
                </button>
              </td>
            </tr>
            <tr>
              <td> <img class="vuled" id="r48" ng-src="{{r48}}"></td>
              <td> <img class="vuled" id="r42" ng-src="{{r42}}"></td>
              <td> <img class="vuled" id="r36" ng-src="{{r36}}"></td>
              <td> <img class="vuled" id="r30" ng-src="{{r30}}"></td>
              <td> <img class="vuled" id="r24" ng-src="{{r24}}"></td>
              <td> <img class="vuled" id="r18" ng-src="{{r18}}"></td>
              <td> <img class="vuled" id="r15" ng-src="{{r15}}"></td>
              <td> <img class="vuled" id="r12" ng-src="{{r12}}">  </td>
              <td> <img class="vuled" id="r9" ng-src="{{r9}}"></td>
              <td> <img class="vuled" id="r6" ng-src="{{r6}}"></td>
              <td> <img class="vuled" id="r5" ng-src="{{r5}}"></td>
              <td> <img class="vuled" id="r4" ng-src="{{r4}}"></td>
              <td> <img class="vuled" id="r3" ng-src="{{r3}}"></td>
              <td> <img class="vuled" id="r2" ng-src="{{r2}}"></td>
              <td> <img class="vuled" id="r1" ng-src="{{r1}}"></td>
              <td> <img class="vuled" id="r0" ng-src="{{r0}}"></td>
              <td>   <div class="peak" id="maxR" ng-bind="maxR"></div></td>
            </tr>
          </table>
        </center>
      </div>
    </div>
    <div class="row">
      <form name="metadataform" class="form-inline" role="form">
        <div class="row meta-gutter">
          <div class="col-xs-2">
            <input type="text" class="form-control" placeholder="date"
            bs-datepicker data-autoclose="true"
            ng-model="showDate">
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="band">
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="venue">
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control" placeholder="set">
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
